<div class="dropdown">
  <button
    class="btn btn-primary dropdown-toggle"
    type="button"
    id="dropdownMenuButton"
    data-bs-toggle="dropdown"
    aria-expanded="false"
  >
    Dropdown button
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <ng-container *ngFor="let item of MENU_ITEMS">
      <ng-container *ngTemplateOutlet="dropdownMenuItem; context: { item: item }"></ng-container>
    </ng-container>
  </ul>
</div>

<ng-template #dropdownMenuItem let-item="item">
  <li
    *ngIf="!item.children || item.children.length === 0"
    class="dropdown-item"
  >
    <a
      [href]="item.link"
      (click)="handleClick(item.label)"
    >
      {{ item.label }}
    </a>
  </li>

  <li
    *ngIf="item.children && item.children.length > 0"
    class="dropdown-submenu"
    (mouseenter)="toggleSubmenu($event, true)"
    (mouseleave)="toggleSubmenu($event, false)"
  >
    <a
      class="dropdown-item"
      [href]="item.link"
      (click)="handleClick(item.label)"
    >
      {{ item.label }} &raquo;
    </a>
    <ul class="dropdown-menu">
      <ng-container *ngFor="let subItem of item.children">
        <ng-container *ngTemplateOutlet="dropdownMenuItem; context: { item: subItem }"></ng-container>
      </ng-container>
    </ul>
  </li>
</ng-template>
