<div class="dropdown">
  <button
    class="btn btn-primary dropdown-toggle"
    type="button"
    id="dropdownMenuButton"
    data-bs-toggle="dropdown"
    aria-expanded="false"
  >
    Dropdown button
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <ng-container *ngFor="let item of MENU_ITEMS">
      <!-- Menu items without children -->
      <li *ngIf="!item.children || item.children.length === 0">
        <a
          class="dropdown-item"
          [href]="item.link"
          (click)="handleClick(item.label)"
          >{{ item.label }}</a
        >
      </li>

      <!-- Menu items with children -->
      <li
        *ngIf="item.children && item.children.length > 0"
        class="dropdown-submenu"
        (mouseenter)="toggleSubmenu($event, true)"
        (mouseleave)="toggleSubmenu($event, false)"
      >
        <a
          class="dropdown-item"
          [href]="item.link"
          (click)="handleClick(item.label)"
          >{{ item.label }} &raquo;</a
        >
        <ul class="dropdown-menu">
          <ng-container *ngFor="let subItem of item.children">
            <!-- Submenu items without children -->
            <li *ngIf="!subItem.children || subItem.children.length === 0">
              <a
                class="dropdown-item"
                [href]="subItem.link"
                (click)="handleClick(subItem.label)"
                >{{ subItem.label }}</a
              >
            </li>

            <!-- Submenu items with children -->
            <li
              *ngIf="subItem.children && subItem.children.length > 0"
              class="dropdown-submenu"
              (mouseenter)="toggleSubmenu($event, true)"
              (mouseleave)="toggleSubmenu($event, false)"
            >
              <a
                class="dropdown-item"
                [href]="subItem.link"
                (click)="handleClick(subItem.label)"
                >{{ subItem.label }} &raquo;</a
              >
              <ul class="dropdown-menu">
                <ng-container *ngFor="let subSubItem of subItem.children">
                  <li>
                    <a
                      class="dropdown-item"
                      [href]="subSubItem.link"
                      (click)="handleClick(subSubItem.label)"
                      >{{ subSubItem.label }}</a
                    >
                  </li>
                </ng-container>
              </ul>
            </li>
          </ng-container>
        </ul>
      </li>
    </ng-container>
  </ul>
</div>
